body {
   background-image: linear-gradient(to right, #ff9900, white)



}

div {

  padding: 15px;
  margin: 5px;
  background-color:white;
}

h2{
	font-size: 40px;
}
h4{
	float:right;
}


p{
	font-family: times new roman;
	font-size: 20px;
	color: black;

}

img {
	width:494px;
	height:350px;
	border:2px solid black;

}



#Header{
  text-align: center;
  font-family: Berlin Sans FB;
  font-size: 25px;
  padding: 0.25pt;
}

#Body{
	height:auto;
    overflow:auto;
	margin: 5px;
}

#citations{
	margin-top: 20px;
	font-family: Times New Roman, Times, serif;
}
#picture{
	float:right;
}
#emailex{
  height: 30%;
  width: 30%;

 }

#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-right-width: 0.5px;
  border-color: orange;
}

#navbar li a:hover {
  background-color: orange;
}
#code {
  float: right;
}
